*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.container
{
    width: 95%;
    margin: auto;
    height:100vh;
}

.counter
{
    position: relative;
    top:40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.counter button
{
    height:57px;
    width:130px;
    font-size: 45px;
    font-style: italic;
    border-radius: 6px;
    border: none;
    outline: none;
    transition: transform 1s;
}

.counter button:nth-child(1)
{
    font-size: 55px;
    background-color: red;
}

.counter button:nth-last-child(1)
{
    background-color: rgb(0, 255, 21);
}

.counter button:nth-last-child(1):focus, .counter button:nth-child(1):focus
{
    transform: scale(1.1);
}

.counter button:nth-last-child(1):hover
{
    transition: 1s;
    background-color: rgb(11, 241, 11);
}

.counter button:nth-child(1):hover
{
    transition: 1s;
    background-color: rgb(240, 11, 11);
}

.counter h1
{
    clear: both;
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    font-weight: lighter;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: font-size 0.3s;
}

.counter-head
{
    position: relative;
    top:10vh;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(rgb(255, 0, 0),rgb(255, 103, 2));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.counter-head::selection, button::selection, .result::selection
{
    background-color: rgb(255, 255, 255);
}

footer
{
    position: relative;
    top:-40px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color:grey;
    font-size:11px;
}

.footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width:430px)
{
    .counter button
    {
        width:100px;
    }
}

@media only screen and (max-width:375px)
{
    .counter button
    {
        width:100px;
    }
    .counter h1
    {
        padding: 10px 30px;
        font-size: 30px;
    }
}

@media only screen and (max-width:373px)
{
    .container
    {
        position: relative;
        left:-25px;
    }
}
